@import './mixins.scss';
@import './reset.scss';
@import './components/form.scss';
@import './components/item.scss';
@import './components/balance.scss';
@import './layout/home.scss';

:root {
  --gray: rgb(140, 141, 146);
  --darkgray: rgb(58, 59, 58);
  --lightgray: rgb(229, 230, 235);
  --very-lightgray: rgb(243, 243, 249);
  --blue: rgb(10, 131, 254);
  --green: rgb(48, 210, 90);
  --orange: rgb(254, 160, 10);
  --red: rgb(254, 70, 60);
  --indigo: rgb(93, 94, 229);
}
